@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@using OnlineSale.Areas.AdminPart.Models.OnlineSaleTable
@model OnlineSale.Models.HomeView
<div class="row clearfix" style="height:10px"></div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:center;font-weight:bold">
        <div style="width:100%;background-color:#544875;color:white">
            <span>@Model.AboutList.FirstOrDefault().Header</span>
        </div>
    </div>
</div>
<div class="row clearfix" style="height:10px"></div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        @Html.Raw(HttpUtility.HtmlDecode((Model.AboutList.FirstOrDefault().Body)))
    </div>
</div>
<div class="row clearfix" style="height:10px"></div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:center">
        <span class="font-weight-bold text-secondary">@Model.AboutList.FirstOrDefault().Footer</span>
    </div>
</div>
<div class="row clearfix" style="height:10px"></div>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <div style="background-color:red;padding-bottom:20px;padding-top:20px">
            <span style="color:white;vertical-align:central;font-size:large;font-weight:bold">Təklif və İradlarınız</span>
        </div>
    </div>
</div>
<div class="row clearfix" style="height:20px"></div>

@using (Html.BeginForm("Question", "Home", new { @class = "row" }))
{
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-8 col-sm-12 col-12">
                <label for="UserName" class="col-form-label text-danger offset-lg-11"><b>Ad</b></label>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 col-12">
                @Html.TextBoxFor(m => new { m.UserQuestion.UserName }.UserName, new { placeholder = "Ad", @class = "form-control offset-lg-2 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12" })
            </div>
        </div>
        <div class="row clearfix" style="height:10px"></div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12">
                <label for="Email" class="col-form-label text-danger offset-lg-11"><b>Email</b></label>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 col-12">
                @Html.TextBoxFor(m => new { m.UserQuestion.Email }.Email, new { placeholder = "Email", type = "email", @class = "form-control offset-lg-2 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12" })
            </div>
        </div>
        <div class="row clearfix" style="height:10px"></div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-12 col-12">
                <label for="QuestnionBody" class="col-form-label text-danger offset-lg-11"><b>Sual</b></label>
            </div>
            <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 col-12">
                @Html.TextAreaFor(m => new { m.UserQuestion.QuestnionBody }.QuestnionBody, new { placeholder = "Maksimum 100 simvol", @class = "form-control offset-lg-2 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12", rows = "5" })
            </div>
        </div>
        <div class="row clearfix" style="height:10px"></div>
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-8 col-sm-12 col-12">
                <input type="submit" value="Təsdiqlə" class="offset-lg-11 btn btn-lg btn-sm btn-primary mb-2 form-control col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" />
            </div>
            <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 col-12">
                <input type="reset" value="Inkar et" class="btn btn-lg btn-sm btn-success form-control offset-lg-2 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12" />
            </div>
        </div>
    </div>
}
<div class="row clearfix" style="height:20px"></div>
<div class="row">
    <div class="col-lg-12"><hr /></div>
</div>
